/* Стилі для Етапу 20: Position: Sticky */


.sticky-header {
    background-color: #ff8c00;
    color: white;
    padding: 15px;
    text-align: center;
    /* Дія: Робить елемент "липким" */
    position: fixed;
    z-index: 10; /* Забезпечує, що він буде поверх іншого контенту */
    bottom: 0; 
    left: 0;
}
/* Додатковий клас для створення скролінгу */
.content-filler {
    height: 1500px; /* Велика висота для прокручування */
    padding-top: 50px;
}
