/* Стилі для Етапу 21: Flexbox */


.flex-container {
    /* Дія: Увімкнення Flexbox */
    display: flex;
    /* Розподіл елементів по горизонталі (головна вісь) */
    justify-content: center;
    flex-direction: column;
    align-items: center
    background-color: #ffe0e0;
    padding: 20px;
    border: 1px solid #ff6347;
    margin-top: 20px;
}


.flex-item {
    background-color: #ff6347;
    color: white;
    width: 100px;
    padding: 15px 0;
    text-align: center;
}
